<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="adminNavbar">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto d-flex align-items-center" href="#">
                <img th:src="@{/images/tiger.jpg}" class="me-3 rounded-circle" alt="Logo" width="50" height="50">
                <span style="color: #fdf8f8; font-size: larger;">Mathapati Electricals Admin Dashboard</span>
            </a>
        </div>
    </nav>

</body>
</html>