<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark"
			style="background: linear-gradient(90deg, #022860, #3f97db); padding: 0;">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img th:src="@{/images/tiger.jpg}" alt="Logo" width="40" height="40"
						class="rounded-circle border border-white">
					<span class="ms-2">Mathapati Electricals</span>
				</a>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link active" href="/Home">Home</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>

</html>